</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $("#toggleComplaintType").on("click", (e) => {
        $("#complaintToggleDiv").slideToggle();
    })

    $("#toggleLoginType").on("click", (e) => {
        $("#toggleLoginDiv").slideToggle();
    })

</script>
</body>

</html>