<%- include("partials/navigationleft") -%>

    <div id="homeHeading">
        <h2>Hello stronger,</h2>
        <div>
            <span>
                <h2>welcome to</h2>
            </span>
            <span>
                <h1>herVoiceMatters</h1>
            </span>
        </div>
        <h3>Seriously “YOUR VOICE MATTERS”</h3>
    </div>

    <div id="communityPart" class="pageMainDiv">
        <div id="communityHeadDesc" class="pageMainDivHeadDesc">
            <h1>Be the part of our women community</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ullam aliquam culpa mollitia aperiam
                autem earum esse rerum sapiente labore iure adipisci placeat, dolorem illum quo voluptatem maxime
                nostrum possimus Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia veniam maxime
                laboriosam. Omnis ab, minima molestiae vero reprehenderit tempore sint commodi ex temporibus
                consequuntur unde error rem neque facilis. Suscipit!</p>
        </div>

        <div id="communityBtns" class="pageBtns">
            <a href="/"><button class="navBtn">I am new to this community</button></a>
            <a href="/"><button class="navBtn">Already a part</button></a>
        </div>
    </div>

    <div id="whatStopsYou" class="pageMainDiv">
        <div id="whatStopsMainDiv" class="pageMainDivHeadDesc">
            <h1>What stops you?</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis autem ipsa quia iusto quidem ad
                corporis eveniet eaque nihil sit unde consequatur repellat repudiandae placeat dolores, sequi quam est
                eligendi!</p>
        </div>
        <div class="pageMainDivHeadDesc">
            <h1>Know your strength</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, minima tenetur eum hic expedita
                blanditii</p>
        </div>
        <div id="whatStopsBtns" class="pageBtns">
            <a href=""><button class="navBtn">See Successfully solved stories</button></a>
            <a href="/"><button class="navBtn">The warrier of the month</button></a>
            <a href="/"><button class="navBtn">Law and Acts you need to know</button></a>
        </div>
    </div>

    <div class="pageMainDiv" id="problemStats">
        <div class="pageMainDivHeadDesc" id="problemStatsMainDiv">
            <h1>Numbers and Stats</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odio laboriosam quae, deleniti cumque quas
                reprehenderit laudantium debitis neque itaque, exercitationem pariatur! Temporibus, nihil voluptates
                placeat odio doloremque deleniti saepe.</p>
        </div>
        <div class="pageMainDivHeadDesc">
            <h1>The graphs will be shown here</h1>
        </div>
    </div>

    <div class="pageMainDiv" id="bestSurvivalStory">
        <div class="pageMainDivHeadDesc" id="bestSurvivalStoryMainDiv">
            <h1>All time best survival story</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odio laboriosam quae, deleniti cumque quas
                reprehenderit laudantium debitis neque itaque, exercitationem pariatur! Temporibus, nihil voluptates
                placeat odio doloremque deleniti saepe.</p>
        </div>
    
    </div>

    <div class="pageMainDiv" id="registerComplaint">
        <div class="pageMainDivHeadDesc" id="registerComplaintMainDiv">
            <h1>Take one step forward and register your complaint</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odio laboriosam quae, deleniti cumque quas
                reprehenderit laudantium debitis neque itaque, exercitationem pariatur! Temporibus, nihil voluptates
                placeat odio doloremque deleniti saepe.</p>
        </div>

        <div id="registerComplaintBtn" class="pageBtns">
            <a href="/"><button class="navBtn">Register your complaint</button></a>
        </div>
    </div>



    <%- include("partials/jqueryandfooter") -%>