<%- include("../partials/navigationleft") -%>
    <div class="pageMainDiv width-40">
        <h2>SUPER-ADMIN - LOGIN</h2>
        <div id="userSignupFormDiv">
            <form action="/user-signup" method="POST">
                <div class="loginsignupinputDiv">
                    <label for="authID">Authorization ID</label>
                    <input type="password" name="authID" id="authID" placeholder="Enter authorization ID" autocomplete="off" required>
                </div>
                <div class="loginsignupinputDiv">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" autocomplete="off" placeholder="Enter email" required>
                </div>
                <div class="loginsignupinputDiv">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="off" placeholder="Enter password" required>
                </div>
                <div class="loginsignupBtns loginsignupinputDiv">
                    <button type="submit">Sign up</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
<%- include("../partials/jqueryandfooter") -%>
